span,
select {
    display: block;
    margin-top: 1em;
    color: #555555;
    font-size: 1em;
}

.sm_icon{
	height:2em;
	width:2em;
	max-width:64px;
	max-height:64px;
	vertical-align: middle;
	margin:auto;
}
#twitter{
	margin-left:20%;
}
#facebook{
	margin-left:25%;
}

#MLH_share,
#MLH_code
{
	font-size:0.8em;
	max-width: 80%;
}

#logo{
width: 90%;
height: 50%;
padding-left:5%;
}

#student_check {
    margin-top: 1em;
    margin-right: 1em;
}
#app_field_header {
    font-size: 3em;
    font-style: bold;
    letter-spacing: 0.5em background: #888888;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1em;
}
.diet_label {
    font-size: 0.8em;
    display: block;
    margin-top: 0.8em;
}
.diet_check {
    margin-right: 0.8em;
}
#diet_other,
#major {
    margin-left: 0.8em;
    color: #555555;
    border: thin solid grey;
}
#major {
    font-size: 0.8em;
    margin-left: 0.5em;
}
#major_label,
#classification {
    margin-left: 1em;
    margin-top: 0.8em;
}

#major_label
{
	margin-top:auto;
}

#classification {
    margin: auto;
    margin-left: 1em;
}
#student_info_wrapper {
    display: none;
}
#student_check {
    margin-left: 0.8em;
}
select {
    display: inline;
    margin-left: 0.2em;
    font-size: 0.8em;
}

#school_select{
	margin-top:1em;
	margin-bottom:1em;
	max-width:12em;
}

#school{
	margin-left:1em;
}

#init_wrapper {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    background: white;
    -webkit-box-shadow: 10px 10px 22px 5px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 10px 10px 22px 5px rgba(0, 0, 0, 0.44);
    box-shadow: 10px 10px 22px 5px rgba(0, 0, 0, 0.44);
}
#header {
 
vertical-align:middle;
 
}
#img {
    vertical-align: middle;
}
#date {
    font-size: 3.75vw;
    margin-top: 8%;
    color: #25C5CA;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.05em;
    font-style: bold;
    text-align: center;
}
#buttons_field {
    padding-top: 8%;
    padding-bottom: 8%;
}
.students,
.sponsors,
#submit {
    background-color: white;
    font-size: 2.5vw;
    color: #888888;
    display: block;
    height: 5%;
    width: 30%;
    border: 3px solid #888888;
    outline: 0;
    float: left;
    margin-left: 15%;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1em;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    
    transition-duration: 0.2s;
}
#submit {
    height: 1.5em;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    float: none;
    text-align: center;
    border-radius: 0.3em;
    border: none;
    color: white;
    background: #25C5CA;
    box-shadow: 0px 1px 20px -6px rgba(0, 0, 0, 0.64);
}
#submit:hover {
    background-color: #49D0D6;
    color: white;
    box-shadow: 0px 8px 30px -6px rgba(0, 0, 0, 0.64);
}
#submit:active {
    box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.64);
}
.sponsors:hover,
.students:hover {
    background-color: #888888;
    color: white;
}
.students {
    float: right;
    margin-left: 0%;
    margin-right: 15%;
}
#app_field,
#success_panel {
    display: none;
    width: 77%;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1.5em;
    padding: 1.5%;
    background: white;
    font-family: Arial;
    color: #555555;
    -webkit-box-shadow: 10px 10px 22px 5px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 10px 10px 22px 5px rgba(0, 0, 0, 0.44);
    box-shadow: 10px 0px 22px 5px rgba(0, 0, 0, 0.44);
}

hr {
  border:none;
  border-top:2px dashed #555555;
  margin-top:2em;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
}

#success_panel,
#sm_wrapper {
    display: block;
}
#success_head {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.05em;
    font-size: 1.5em;
}
#success_message {
    background: #eeeeee;/*B3F5B7*/
    border: 0px solid #116416;
    border-radius: 0px;
    padding: 1em;
    color: #01858B;
}
a {
    text-decoration: none;
    color: #01858B;
}

#about_you,
#experience,
#team_info {
    padding-top: 1.5em;
    font-size: 2em;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .05em;
}
#about_you {
    padding-top: 1em;
}
#prev_hack,
#prototype,
#skills,
#first_name,
#last_name,
#email,
#phone_num,
#team_name {
    color: #555555;
    border: thin solid grey;
}
#prev_hack,
#prototype,
#skills {
    width: 90%;
    height: 5em;
}
#first_name,
#last_name,
#phone_num,
#email {
    width: 30%;
    font: sans-serif;
    height: 1.5em;
    padding-left: .5em;
    font-size: 1em;
    font-family: Arial;
    color: #555555;
}
#team_name {
    margin-left: 0.8em;
    font-size: 0.8em;
    color: #555555;
}
#team_name_label {
    display: none;
    margin-left: 1em;
}
#team_hint {
    display: inline-block;
    font-size: 0.8em;
    color: #01858B;
    max-width:70%;
    /*border: 1.5px solid #888888;*/
    
    padding: 0.4em;
    margin-top: 1em;
    background: #eeeeee;
}
#footer {
    background: #333333;
    height: 5em;
    width: 80%;
    margin: 0 auto;
    box-shadow: 10px 10px 22px 5px rgba(0, 0, 0, 0.44);
    display: none;
}
body {
    background: #eeeeee;
    width: 100%;
}

#gif{
display:none;
max-width:100%;
margin-top:1em;
margin-bottom:1em;
width:50%;
padding-right:25%;
padding-left:25%;

}

#sm_wrapper{
	margin-top:1em;
	padding-top:2em;
	padding-bottom: 2em;
	 font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	 letter-spacing: 0.1em;
	 color:#555555;
	 border:2px dashed #555555;
}